.filters {
  display: flex;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.filters > * {
  margin-top: $m;
  @media (min-width: $desktop-breakpoint) {
    margin-right: $m;
  }
}

.filters__input {
  font-size: $m;
}

.filters__select {
  font-size: $m;
  background-color: white;
  color: $dark-grey;
}

