.form {
  display: flex;
  flex-direction: column;
  input {
    padding-left: 0.25rem;
    font-size: $m;
  }
  textarea {
    padding-left: 0.25rem;
    font-size: $m;
  }
  @media (min-width: $desktop-breakpoint) {
    input {
      width: 25%;
    }
    textarea {
      width: 50%;
    }
  }
}

.form > * {
  margin-top: 2rem;
}

.add-expense__title {
  color: $dark-grey;
}
